* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blanchedalmond;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 25%;
}

.todoinput {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.todos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.licontainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  max-width: 100%;
  overflow-wrap: break-word;
}
.addtodoinput {
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 80%;
}

.addtodobtn,
.done {
  margin: 0 10px 0 10px;
}

.donedeletebtncontainer {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.line {
  text-decoration: line-through;
}

.description {
  overflow-wrap: break-word;
  max-width: 50%;
}

.generalbtn {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  max-width: max-content;
  background: none;
  cursor: pointer;
}
