<div class="formcontainer">
  <div class="headercontainer">
    <h2>Adjust todo</h2>
  </div>

  <p class="error">{{error}}</p>

  <form class="saveadjusttodo" action="/todos/{{_id}}/redigera" method="post">
    <input
      class="adjusttodoinput"
      type="text"
      name="description"
      placeholder="Todo"
      value="{{description}}"
    />

    <input class="generalbtn saveadjustbtn" type="submit" value="Save" />
  </form>
</div>